[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=rabbitmq-dev.devopsbymanju.shop
Environment=AMQP_USER=rabbitmq_app_username
Environment=AMQP_PASS=rabbitmq_app_users_password
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target